{% extends 'base.html' %}

{% block title %}
    <title>Registration Page</title>

{% endblock %}


{% block body_block %}

<h1>Enter details to login </h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
        <label for="un">username</label>
        <input type="text"name='un'id='un'><br>
        <label for="pwd">password</label>
        <input type="password"name='pwd'id='pwd'> <br>
        <input type="submit" value="Register" class="btn btn-primary">
</form>
<a href="{% url 'reset_password' %}"class='nav-link'>reset_password</a>

{% endblock %}